<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         defaultTestSuite="Sqlite"
         executionOrder="random"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         colors="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Sqlite">
            <directory>./tests/Feature/Sqlite</directory>
            <directory>./tests/Exception</directory>
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Mysql">
            <directory>./tests/Feature/Mysql</directory>
            <directory>./tests/Exception</directory>
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Pgsql">
            <directory>./tests/Feature/Pgsql</directory>
            <directory>./tests/Exception</directory>
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Mssql">
            <directory>./tests/Feature/Mssql</directory>
            <directory>./tests/Exception</directory>
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
